<!DOCTYPE html>
<html>
    <head>
        <title>
            Remote Jobs
        </title>
        <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css"></link>
    </head>
    <body>
        <header>
            <h1>Remote Jobs</h1>
        </header>
        <main>
            <form action="/report">
                <h3>Search by term:</h3>
                <input placeholder="i.e python" required name="word">
                <button type="submit">Find my job</button>
            </form>
        </main>
    </body>
</html>